html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em;
  text-align: center;
  border-radius: 8px;
  border-width: 3px;
  color: #333;
  text-decoration: none;
}

.btn:hover {

}

.btn-small {

}

.btn-big {

}

.btn-subtle {

}

.btn-subtle:hover {

}

.btn-ghost {

}

.btn-ghost:hover {

}

.btn-warning {

}

.btn-warning:hover {

}
